<h2>Medieval Dynasty Recipe Calculator</h2>
<p>This calculator will help you calculate the amount of materials you need to craft a certain item.</p>

<h5 class="mb-3">Recipe input information</h5>
<div class="grid px-3 pt-0">

  <div class="col-6 px-1 py-1">
    <div class="shadow-1 p-2 surface-300">Recipe name</div></div>
  <div class="col-6 px-1 py-1">
    <div class="shadow-1 p-2">Fabada</div></div>
  <div class="col-6 px-1 py-1">
    <div class="shadow-1 p-2 surface-300">Item count</div></div>
  <div class="col-6 px-1 py-1">
    <div class="shadow-1 p-2">9</div></div>

</div>

<h5 class="mb-3">Ingredients</h5>
<div class="grid px-3 pt-0">

  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Ingredient</div></div>
  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Quantity</div></div>
  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Cost per item</div></div>

  <div class="col-4 px-1 py-1">
    <div class="shadow-1 p-2  text-left">Fabes</div></div>
  <div class="col-4 px-1 py-1 text-right">
    <div class="shadow-1 p-2">6 x 9 = 42</div></div>
  <div class="col-4 px-1 py-1 text-right">
    <div class="shadow-1 p-2">3 x 2 = 6</div></div>

    <div class="col-4 px-1 py-1">
      <div class="shadow-1 p-2  text-left">Chorizo</div></div>
    <div class="col-4 px-1 py-1 text-right">
      <div class="shadow-1 p-2  text-right">6 x 9 = 42</div></div>
    <div class="col-4 px-1 py-1 text-right">
      <div class="shadow-1 p-2">2 x 2 = 4</div></div>
</div>

<h5 class="mb-3">Production information</h5>
<div class="grid px-3 pt-0">

  <div class="col-6 px-1 py-1 text-left">
    <div class="shadow-1 p-2 surface-300">Base price</div></div>
  <div class="col-6 px-1 py-1 text-right">
    <div class="shadow-1 p-2">50 x 9 = 41</div></div>

  <div class="col-6 px-1 py-1 text-left">
      <div class="shadow-1 p-2 surface-300">Sell price</div></div>
  <div class="col-6 px-1 py-1 text-right">
      <div class="shadow-1 p-2">(50 x 9) / 2 = 20.5</div></div>

  <div class="col-6 px-1 py-1 text-left">
    <div class="shadow-1 p-2 surface-300">Ingredients cost</div></div>
  <div class="col-6 px-1 py-1 text-right">
    <div class="shadow-1 p-2">10 x 9 = 90</div></div>

</div>
