<h2>Medieval Dynasty Recipe Calculator</h2>
<p>This calculator will help you calculate the amount of materials you need to craft a certain item.</p>

<form-group title="Recipe input information">
  <form-vr label="Recipe name">Fabada</form-vr>
  <form-vr label="Item count" valueContainerClass="text-right">9</form-vr>
</form-group>

<form-group title="Ingredients">
  <form-table headerInnerClass="shadow-1 p-2 surface-300" cellInnerClass="shadow-1 p-2 text-left"
    headerOuterClass="col-4 px-1 py-1 text-center" cellOuterClass="col-4 px-1 py-1">
    <!-- Columns -->
    <form-tc key="ingredient" label="Ingredient"></form-tc>
    <form-tc key="quantity" label="Quantity"></form-tc>
    <form-tc key="costPerItem" label="Cost per item"></form-tc>
    <!-- Rows -->
    <form-tr>
      <form-td>A</form-td>
      <form-td>B</form-td>
      <form-td>C</form-td>
    </form-tr>
  </form-table>
</form-group>

<span style="display: none;">
<h3>old table</h3>
<div class="grid">
  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Ingredient</div></div>
  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Quantity</div></div>
  <div class="col-4 px-1 py-1 text-center">
    <div class="shadow-1 p-2 surface-300">Cost per item</div></div>

  <div class="col-4 px-1 py-1">
    <div class="shadow-1 p-2  text-left">Fabes</div></div>
  <div class="col-4 px-1 py-1 text-right">
    <div class="shadow-1 p-2">6 x 9 = 42</div></div>
  <div class="col-4 px-1 py-1 text-right">
    <div class="shadow-1 p-2">3 x 2 = 6</div></div>

    <div class="col-4 px-1 py-1">
      <div class="shadow-1 p-2  text-left">Chorizo</div></div>
    <div class="col-4 px-1 py-1 text-right">
      <div class="shadow-1 p-2  text-right">6 x 9 = 42</div></div>
    <div class="col-4 px-1 py-1 text-right">
      <div class="shadow-1 p-2">2 x 2 = 4</div></div>
</div>
</span>

<form-group title="Production information">
  <form-vr label="Base price" valueContainerClass="text-right">50 x 9 = 41</form-vr>
  <form-vr label="Sell price" valueContainerClass="text-right">(50 x 9) / 2 = 20.5</form-vr>
  <form-vr label="Ingredients cost" valueContainerClass="text-right">10 x 9 = 90</form-vr>
</form-group>
