<p>This calculator will help you calculate the amount of materials you need to craft a certain item.</p>

<form-group title="Recipe input information">
  <form-vr label="Recipe group"><p-dropdown scrollHeight="400px" [options]="recipeGroupList" [(ngModel)]="selectedRecipeGroup" optionLabel="label"></p-dropdown></form-vr>
  <form-vr label="Recipe name"> <p-dropdown scrollHeight="400px" [options]="recipesOfSelectedGroup" [(ngModel)]="selectedRecipe" optionLabel="label"></p-dropdown></form-vr>
  <form-vr *ngIf="selectedRecipe != undefined" label="Quanitity" valueContainerClass="text-right"><rw-input defaultValue="{{selectedRecipe.quantityDisplay}}" [(editedValue)]="selectedRecipe.quantitySet"></rw-input></form-vr>
</form-group>

<form-group title="Ingredients">
  <form-table headerInnerClass="shadow-1 p-2 surface-300" cellInnerClass="shadow-1 p-2 text-left"
    headerOuterClass="col-4 px-1 py-1 text-center" cellOuterClass="col-4 px-1 py-1">
    <!-- Columns -->
    <form-tc key="ingredient" label="Ingredient"></form-tc>
    <form-tc key="quantity" label="Quantity" cellInnerClass="text-right"></form-tc>
    <form-tc key="costPerItem" label="Cost per item" cellInnerClass="text-right"></form-tc>

    <!-- Rows -->
    <ng-container *ngFor="let item of selectedRecipeIngredients" >
      <form-tr>
        <form-td>{{item.label}}</form-td>
        <form-td><rw-input defaultValue="{{item.quantityDisplay}}" [(editedValue)]="item.quantitySet"></rw-input></form-td>
        <form-td><p-dropdown scrollHeight="400px" [options]="item.prices" [(ngModel)]="item.selectedPrice" optionLabel="label"></p-dropdown></form-td>
      </form-tr>
    </ng-container>
  </form-table>
</form-group>

<form-group title="Production information">
  <form-vr label="Base price" valueContainerClass="text-right">50 x 9 = 41</form-vr>
  <form-vr label="Sell price" valueContainerClass="text-right">(50 x 9) / 2 = 20.5</form-vr>
  <form-vr label="Ingredients cost" valueContainerClass="text-right">10 x 9 = 90</form-vr>
</form-group>

<footer>
    <div>Bugs or suggestions? <a href="https://github.com/aalku/aalku.github.io/issues/new">Create an issue</a></div>
    <div>The source for most of the data is MacaDeath at Discord</div>
</footer>
