/* You can add global styles to this file, and also import other style files */
.p-component, .p-inputtext, p.dropdown {
  font-size: min(3vw, 1em)!important;
}
div.rw-input-edited {
  background-color: #ccffcc!important;
  padding: 0.5rem; /* same as container */
  margin: -0.5rem; /* inverse of padding */
}
div.grid {
  margin: 0!important;
}
p-button {
    margin-right: .5em;
}
/* Router tabs */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 0.5em!important;
}
/* Form */
div.form-vr .p-dropdown .p-dropdown-trigger,
div.form-cell .p-dropdown .p-dropdown-trigger {
  width: min(3vw, 1.5em)!important;
}
div.form-vr .p-inputtext, div.form-cell .p-inputtext {
  padding: 0!important;
  border: 0 none!important;
  width: 100%!important;
}
div.form-vr .p-dropdown,
div.form-cell .p-dropdown {
  border: 0 none!important;
  width: 100%!important;
  text-align: center!important;
}
div.form-vr .p-dropdown-item,
div.form-cell .p-dropdown-item {
  padding-top: 0.3em!important;
  padding-bottom: 0.3em!important;
}
/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #303030;
  color: white;
  text-align: center;
}
footer a {
   color: white;
}
footer div {
     padding: 5px;
}
